.header-container{
  
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.titles{
   /*  position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-image: url("sky driver.jpg");
    display: flex;
    color: #fff;
    background-color: rgb(9, 211, 53);
    /* width: 100%; */
    height: 100px;
    padding: 20px;
    justify-content: space-between;
   /*  direction: rtl; */
    align-items: center;
}
.logo{
    border-radius:50%;
    border: 3px #5995DA;
   /* justify-content: last baseline; */
   order: 1;
   
}
