#selection{
	margin: 0;
	justify-content: center;
}
#selected-content{
	margin: 0;
}
.departure-waypoint{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

/* The search field */

#myInput {
	box-sizing: border-box;
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	width:261px;
}


/* The search field when it gets focus/clicked on */

#myInput:focus {
	outline: 3px solid #ddd;
}

#newN,#newE{
	min-width: 255.667px;
	padding-bottom: 3px;
	margin: 0;
}

#departure-waypoint-container{
display: flex;
justify-content: space-between;
flex-direction: row;
}

#addition{
	display: flex;
    flex-direction: column;
	margin:0;
	order: 1;
}

#newN:focus,#newE:focus{
	outline: 3px solid #ddd;
}
/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Button */

.dropbtn {
	display: flex;
	background-color: black;
	color: white;
	padding: 10px;
    font-size: 16px;
	min-width: 261px;
	max-width: 263px;
	width: 280px;
	height:40px;
	border: 2px solid black;
	cursor: pointer;
	justify-content: space-between;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	width: 261px;
	border: 1px solid #ddd;
	z-index: 1;
	padding-bottom: 10px;
}


/* Links inside the dropdown */

.dropdown-content p,#add-content {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#add-content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
}

#Add{
	margin: 0;
	margin-left: 20px;
	padding: 0;
}

#addSymbol, #addSymbol:hover{
	margin-top: 10px;
	cursor: pointer;
}
/* Change color of dropdown links on hover */
#gps-container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
#gps{
	margin-left: 10px;
}
#gps-location{
	display: none;
}
#dropdown-locations p:hover {
	background-color:  #ddd;

	cursor: pointer;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
	display: block;
}
#N,#E{
	margin: 0;
	padding: 0;
}

#validate{
	color:red;
	margin-left: 20px;
}