.drop_cmp_list {   
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .drop_cmp_list{
    min-width: 232px;
  }
  
  .components_list {
    position: relative;
  }
  
  .components{
    display: flex;
    justify-content: flex-start;
  }

  .components img{
    margin-top: 17px;
  }

  #components_state{
    display: flex;
    flex-direction: column;
  }

  #components_state p{
    color:black !important;
  }
  
  .cmp-list {
    display: none;
    position: absolute;
    margin: 0;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .cmp-list img, .cmp-list p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .components_list img :hover {background-color: #ddd;}
  
  .show {display: inline-block;}