<!DOCTYPE html>
<html lang="en">
<head>
    <title dir="rtl">סורק ברקודים</title>
    <div id="header-container"></div>
    <link rel="stylesheet" href="static/css/aviStyle.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="navbar">
    <img class="logo" src="static/images/hatal.jpg" style="width:100px;height:100px" ;/>
    <ol>
        <li class="menu-item"><a href="/new-flight">Start flight</a></li>
        <li class="menu-item"><a href="/end-flight">End flight</a></li>
        <li class="menu-item"><a href="/scan">Scan component</a></li>
        <li class="menu-item"><a href="/flights">Flights</a></li>

        <p>No flight running</p>

    </ol>
</div>

<div class="main_container">

    <form method="post" action="" novalidate>
        <input id="csrf_token" name="csrf_token" type="hidden"
               value="IjM0MGExNmYxNzA0YWY4OTA5MjVjYzcxNDE5ZjFlZGNmZWZiMGQ0MmYi.XXnnTg.kCh5tiYfMWXYM97DfauC7lLE0Mg">

        <p>
            <label for="soldier1">Commander id</label>
            <input id="soldier1" name="soldier1" type="text" value="">
        </p>

    <p>
        <label for="soldier2">Pilot id</label>
        <input id="soldier2" name="soldier2" type="text" value="">
    </p>
<select hidden id="selector"><option id="selected" selected></option></select>
    <p class="departure-waypoint">
        <label for="coordinates"> Departure waypoint: </label>
        <div class="dropdown">
                <button type="button" onclick="myFunction()" class="dropbtn"><p id="selection"></p> &nbsp;  &#9660</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"><br />
                    <div id="addition"><input type="text" placeholder="North" id="newN">
                        <input type="text" placeholder="East" id="newE"></div>

                    <div id="add-content"><img id="addSymbol" src="static/images/addSymbol.png" alt="add" width=30px height=30px id="add-symbol" />
                        <p id="Add">&nbsp;&nbsp; Add: </p></div>
                        
                   
                    <div id="dropdown-locations">
                            <p id="Name:About_N:1234.5_E:5678.6" class="location">&nbsp;&nbsp; About</p>
                            <p id="Name:Base_N:1243.2_E:9456.4" class="location">&nbsp;&nbsp; Base</p>
                            <p id="Name:Blog_N:24.5_E:3462.7" class="location">&nbsp;&nbsp; Blog</p>
                            <p id="Name:Contact_N:567.3_E:546.4" class="location">&nbsp;&nbsp; Contact</p>
                            <p id="Name:Custom_N:948.2_E:39.87" class="location">&nbsp;&nbsp; Custom</p>
                            <p id="Name:Support_N:567.98_E:123.4" class="location">&nbsp;&nbsp; Support</p>
                            <p id="Name:Tools_N:95.6_E:45.234" class="location">&nbsp;&nbsp; Tools</p>
                    </div>
                </div>
            </div>
        
            <br />
    </p>
       <p>
            <input id="submit" name="submit" type="submit" value="Add flight">
        </p>

    </form>

</div>
<script src="static/javascript/departure_waypoint.js"></script>
</body>
</html>
