
<!DOCTYPE html>
<html lang="en">
<head>
    <title dir="rtl">סורק ברקודים</title>
    <div id="header-container"></div>
    <link rel="stylesheet" href="/static/css/style.css"/>
    
<script type="text/javascript" src="/static/javascript/instascan.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

    <div class="navbar">
        <img class="logo" src="/static/images/hatal.jpg" style="width:100px;height:100px"; />
        <ol>
            <a href="/new-flight"><li>Start flight</li></a>
            <a href="/end-flight"><li>End flight</li></a>
            <a href="/scan"><li>Scan component</li></a>
            <a href="/flights"><li>Flights</li></a>
            
                <a href="/flight-details/12">Flight: 12 (Avengers)</a>
            
        </ol>
    </div>

    <div class="main_container">
        

<div class="header">
    <div class="cam">

        <div class="canvases_container">
            <div class="video_canvas">
                <img class="loading" src="/static/images/loading.gif"/>
                <video id="preview"></video>
            </div>
            <div>
                <form method="GET" novalidate action="/stop-flight/12?callback=%2F">
                    <input type="hidden" name="flight_id" value="12">
                    <input type="hidden" name="callback" value="/">
                    <input id="submit" name="submit" type="submit" value="Finish">
                </form>
            </div>
            <div class="answer_canvas">
                <p class="answer"></p>
            </div>
        </div>
        <div class="components_list" style="visible:hidden">
            <ul>
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Right wing</p>
                    
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Small wing</p>
                    
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Tail</p>
                    
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Head</p>
                    
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Elastic</p>
                    
                
                    
                        <img src="/static/images/red_checkmark.png" width="20px" height="15px" /><p>Motor</p>
                    
                
            </ujl>
        </div>

        <script type="text/javascript">

            $(".loading").hide();
            $(".submit").hide();
            let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

            scanner.addListener('scan', function (content) {
                $(".submit").show();
                let encoded=btoa(content);
                $("#preview").toggle();     //toggle camera
                $(".loading").toggle();     //load loading gif instead
                let xhttp=new XMLHttpRequest();
                xhttp.open("GET", "/api-qr-process/"+encoded, true);
                xhttp.send();
                xhttp.onreadystatechange=function(){
                    if(this.readyState==4){
                    var resp = JSON.parse(this.responseText);

                    $(".loading").toggle();    //toggle loading gif
                    $(".answer").text(resp['text']);
                    $("#preview").toggle();    //toggle camera
                    if (!this.status==200){
                        alert("Failed to read qr code");
                        }
                     }
                 }
          });

      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });



        </script>

    </div>
    
    
    </div>
</body>
</html>
